[submodule "SFBAudioUtilities"]
	path = SFBAudioUtilities
	url = https://github.com/sbooth/SFBAudioUtilities.git
[submodule "XCFrameworks"]
	path = XCFrameworks
	url = https://github.com/Zim999/AudioXCFrameworks.git
